<div class="card mb-4">
        <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
        <div class="card-body">
          <h2 class="card-title">{{ article.title }}</h2>
          <div class="card-text article-text">{{ article.text|raw }}</div>
          
          <a href="{{ router.pathFor('article', {'domain': domain, 'id': article.id})}}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between">
          <div>Posted on {{ article.date|date("F jS, Y") }} by {{ article.author }}</div>
          <div> {{ article.categories|join(', ') }}</div>

        </div>
      </div>