{% extends 'common.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ article.title }}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{ article.author }}</a>,
        posted on {{ article.date|date("F jS, Y") }}</p>

      <hr>

      {# <hr> #}

      <!-- Preview Image -->
      {# <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> #}

      {# <hr> #}

      <!-- Post Content -->
      <div class="articleText">{{ article.text|raw }}</div>

      <hr>

      <!-- Categories -->
      <p class="text-right">
        {{ article.categories|join(', ') }}
      </p>

      <!-- Comments Form -->

      <div class="card my-4">
        <h5 class="card-header">Laisser un commentaire:</h5>
        <div class="card-body">
          <form action="{{ router.pathFor('article', {'domain': domain, 'id': article.id}) }}" method="post">
            <div class="form-group">
              <textarea name="text" class="form-control" rows="3" {% if not session.username %} disabled
                placeholder="Vous devez être connecté pour commenter" {% endif %}></textarea>
                <input type="text" name="id" value="{{ article.id }}" hidden>
            </div>
            <button type="submit" class="btn btn-primary"
              {% if not session.username %}disabled{% endif %}>Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      {% for comment in article.comments %}
      <hr>
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{ comment.author }}</h5>
          <p>{{ comment.date|date("F jS, Y") }}</p>
          <p>{{ comment.text }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
    {{ include('sidebar.twig') }}
  </div>
</div>


<div class="flex-grow-1"></div>
{% endblock %}
