{% extends 'common.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ article.title }}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{ article.author }}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{ article.date|date("F jS, Y") }}</p>

      <hr>

      <!-- Categories -->
      <p>
        {% for category in article.categories %}
        {{ category }}, 
        {% endfor %}
      </p>

      {# <hr> #}

      <!-- Preview Image -->
      {# <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> #}

      {# <hr> #}

      <!-- Post Content -->
      <div class = "articleText">{{ article.text|nl2br }}</div>

      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      {% for comment in article.comments %}
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{ comment.author }}</h5>
          <p>{{ comment.date|date("F jS, Y") }}</p>
          <p>{{ comment.text }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
    {{ include('sidebar.twig') }}
  </div>
</div>


<div class="flex-grow-1"></div>
{% endblock %}