{% extends 'common.twig' %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-lg-8">

      <h1 class="my-4">Les articles écrits par {{ author }}</h1>

      <!-- Blog Post -->
      <!-- <div class="card mb-4">
        <p class="card-text">
          There are currently {{ nbArticles }} articles,
          {{ authors|length }} authors and {{ categories|length }} categories.
        </p>
      </div> -->

      {% for article in articles %}
      {{ include("articleCard.twig") }}
      {% endfor %}

    </div>

    {{ include('sidebar.twig') }}

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<div class="flex-grow-1"></div>
{% endblock %}
