{% extends 'common.twig' %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-lg-8">

      <h1 class="my-4">The latest articles
        <small>from Farts & Dabs</small>
      </h1>

      <!-- Blog Post -->
      <!-- <div class="card mb-4">
        <p class="card-text">
          There are currently {{ nbArticles }} articles,
          {{ authors|length }} authors and {{ categories|length }} categories.
        </p>
      </div> -->

      {% for article in articles %}
      {{ include("articleCard.twig") }}
      {% endfor %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item {% if (page >= nbArticles / 5) %}
          disabled
        {% endif %}">
          <a class="page-link" href="{{ router.pathFor('home', {'domain': domain, 'page': page + 1}) }}
           ">&larr; Older</a>
        </li>
        <li class="page-item {% if page <= 1 %}
          disabled
        {% endif %}">
          <a class="page-link" href="{{ router.pathFor('home', {'domain': domain, 'page': page - 1}) }}">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    {{ include('sidebar.twig') }}

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<div class="flex-grow-1"></div>
{% endblock %}
